body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #000000 !important;
}

* {
    box-sizing: border-box;
}

.my_container {
    padding-left: 10vw;
    padding-right: 10vw;
    margin: auto !important;
}

#mint {
    padding-top: 8vw;
}

.navbar {
    padding-top: 0 !important;
}

#navbar_top {
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0 0 0 / 64%));
    z-index: 9999;
    position: fixed !important;
    border-bottom: none;
    box-shadow: 0rem 1rem 6rem black;
}

.nav_logo {
    flex: 0 0 33%;
    color: rgb(2, 141, 99) !important;
}

.nav_logo .nav-link {
    padding-top: 0 !important;
}

.logo-png {
    width: 100%;
}

.nav_menubar {
    align-items: center;
    flex: 70%;
}

.nav_menubar a {
    padding: 0 !important;
    font-weight: 900;
}

.nav_menubar_social {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.nav_menubar_social svg {
    cursor: pointer;
    margin-left: 1.5vw;
}

.nav_menubar_social .top_socialicon {
    margin: 0 !important;
    display: flex;
    color: red;
}

.top_socialicon span a {
    font-size: 1.3rem !important;
}

.nav-link {
    flex: 1 0 0;
    text-align: center;
    padding: 0 !important;
    color: #A69490 !important;
    font-size: 1rem !important;
    letter-spacing: 1px;
    color: red !important;
}

.navbar-toggler {
    background-color: rgb(86 59 48) !important;
}

.nav_connectwalletbtn_area .dropdown {
    width: 100%;
}

.close {
    border: none;
    background: none;
    font-size: 2.5rem;
    color: red;
}

.freeticket {
    margin-top: 0 !important;
    color: #d1d1d1 !important;
    font-size: 1.3rem !important;
    margin-bottom: 2vw !important;
    font-weight: 800 !important;
    font-family: Bosnia !important;
}

#freeticket {
    font-size: 3rem;
    font-family: Collonse;
}

.home_nft,
.home_nft_pic {
    width: 100%;
    margin-top: 1vw;
    background-image: url('./assets/images/Mint.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 5rem;
    box-shadow: 1rem 1rem 2rem #131313;
}

.home_nft {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#mint h1 {
    margin-top: 1vw;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255 47 0);
    text-align: center;
    letter-spacing: 1px;
}

.home_nft_describe {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
}

.home_nft_describe_content {
    width: 100%;
    color: white !important;
    font-size: 1.3rem;
}

.home_nft_describe_content p {
    width: 80%;
    padding-top: 2vw;
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;
    font-size: 1.3rem !important;
}

.home_nft_describe_content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: rgb(37, 235, 241);
    letter-spacing: 1px;
}

.mint_section {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vw;
    padding: 1vw;
    border-radius: 0.5rem;
}

.coming {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
    color: white;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 1vw;
}

.view_contract {
    font-size: 1rem !important;
    text-decoration: none !important;
    text-align: center !important;
    color: #c5005c;
    letter-spacing: 0;
    padding: 0 !important;
}

.mint_section .mint_section_body p {
    padding: 0 !important;
    font-size: 1.3rem !important;
    letter-spacing: 2px;
    text-align: center;
    color: #d3d3d3;
}

.rename_section_body {
    background-color: #1c0e0e;
}

.mint_section_body .row {
    margin: 0 !important;
}

.mint_color {
    color: rgb(205 41 4);
}

.mint_counter {
    width: 100%;
    display: flex;
    align-items: center;
}

.counter_form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3rem;
}

.mint_counter_btn,
.mint_counter_btn1 {
    width: 4rem;
    height: 4rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 0 !important;
    font-size: 1.4rem !important;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #A69490 !important;
    background: none !important;
    border-radius: 50% !important;
    color: #A69490 !important;
}

.tokenId_field {
    width: 6rem;
    height: 4rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 0 !important;
    font-size: 1.4rem !important;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #A69490 !important;
    background: none !important;
    color: #A69490 !important;
    text-align: center !important;
}

.name_field {
    width: 25rem;
    height: 4rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 0 !important;
    font-size: 1.4rem !important;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #A69490 !important;
    background: none !important;
    color: #A69490 !important;
    text-align: center !important;
}

.copy_btn {
    width: 2rem;
    height: 2rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 0 !important;
    font-size: 1.4rem !important;
    font-family: 'Roboto', sans-serif;
    border: 0px solid #A69490 !important;
    background: none !important;
    /* border-radius: 50% !important; */
    color: #A69490 !important;
}

.counter_form span {
    font-size: 1.5rem !important;
    color: rgb(156, 156, 172) !important;
}

.mint_counter_btn:hover {
    background-color: #77019969 !important;
    transition: 0.05s;
}

.mint_counter_btn1:hover {
    background-color: #77019969 !important;
    transition: 0.1s;
}

.copy_btn:hover{
    background-color: #77019969 !important;
    transition: 0.1s;
}

.mint_counter_btn1 {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
}

#account_info {
    font-size: 1rem !important;
    color: rgb(62, 118, 202);
    margin-top: 1vw;
}

.buy_btn {
    font-weight: 600 !important;
    width: 100%;
    margin-top: 1vw;
    margin-bottom: 1vw;
    background-image: linear-gradient(to right, rgb(116 116 116), rgb(52 52 52));
    border: none !important;
    cursor: pointer;
    border-bottom-left-radius: 4rem !important;
    border-top-right-radius: 4rem !important;
}

.buy_btn:hover {
    background-image: linear-gradient(to right, rgb(52 52 52), rgb(116 116 116));
}

#key {
    /* padding-top: 2vw; */
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5vw;
}

#key h1 {
    background-color: #c90000;
    border-bottom-left-radius: 4rem;
    border-top-right-radius: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    color: #b9b9b9;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1vw;
    margin-bottom: 3vw;
}

#key p {
    border: 1px solid #302c2c;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding: 0.5%;
    padding-left: 3%;
    padding-right: 3%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(153 153 153);
    font-size: 1rem;
}

#key hr {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    color: aquamarine;
}

#key p span {
    float: right;
    color: rgb(205 41 4);
}

#gallery {
    padding-top: 3vw;
    font-family: 'Roboto', sans-serif;
}

#gallery h1 {
    background-color: #c90000;
    border-bottom-left-radius: 4rem;
    border-top-right-radius: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    color: #b9b9b9;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

#gallery p {
    color: rgb(225 225 225);
    margin-bottom: 3vw;
    font-size: 1rem;
}

.slick-slide {
    border-radius: 0.4rem !important;
}

.slick-slide img {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.4rem;
}

#meet {
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: 'Roboto', sans-serif;
}

#meet h1 {
    background-color: #c90000;
    border-bottom-left-radius: 4rem;
    border-top-right-radius: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-weight: 700;
    font-size: 2rem;
    color: #b9b9b9;
    text-align: center;
}

#meet h2 {
    padding-right: 2vw;
}

#meet p {
    font-size: 1.3rem;
    text-align: center;
    color: rgb(205 41 4);
    margin-bottom: 0;
}

#meet .member {
    width: 32% !important;
    margin-left: auto;
    margin-right: auto;
    height: 65vh;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    margin-top: 3vw;
    border-radius: 3.5rem;
}

#meet .team_member_outline {
    width: 83%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

#meet .team_member_img {
    width: 100%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 0.4rem;
}

#meet .team_member_title {
    width: 83%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: #cb3400;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    text-align: center;
}

#meet .team_member_intro {
    width: 83%;
    color: white;
    margin-top: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}

#meet .member .team_member {
    width: 100%;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#meet .member .team_member .introduction h1 {
    font-size: 1rem;
    margin: 0;
    color: white;
    font-weight: 400;
    background-color: #d13405;
    border-radius: 0.2rem;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#roadmap {
    padding-bottom: 3vw;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#roadmap .container .row {
    align-items: center;
}

.roadmap_title {
    background-color: #c90000;
    border-bottom-left-radius: 4rem;
    border-top-right-radius: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    color: #b9b9b9;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

#roadmap .roadmap_left {
    width: 71.5%;
    margin-top: 1vw;
    margin-right: auto;
    padding: 0;
}

#roadmap .roadmap_right {
    margin-top: 1vw;
    width: 71.5%;
    margin-left: auto;
    border-radius: 1rem;
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    padding: 0;
}

.roadmap_content-l,
.roadmap_content-r {
    border: 1px solid white;
    display: flex;
    box-shadow: 0.5rem 0.5rem 0.5rem #5c5c5c;
}

.roadmap_content-l .roadmap_text {
    flex: 0 0 70%;
}

.roadmap_content-r .roadmap_img {
    flex: 0 0 30%;
}

.roadmap_content-l .roadmap_text {
    padding-left: 4.5rem;
    background-color: #101010;
}

.roadmap_content-r .roadmap_text {
    flex: 0 0 70%;
    padding-right: 4.5rem;
    background-color: #302e2b;
}

.roadmap_text {
    padding: 1vw;
    display: flex;
    align-items: center;
}

.roadmap_text h1 {
    font-size: 1.2rem !important;
    font-weight: 500;
    color: red;
}

.roadmap_text p {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-bottom: 0 !important;
}

.mark_image_1,
.mark_image_2,
.mark_image_3,
.mark_image_4 {
    width: 10vw;
    height: 10vw;
    border-radius: 0.4rem;
    position: absolute;
    background-image: url('./assets/images/4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mark_image_2 {
    background-image: url('./assets/images/1.png');
}

.mark_image_3 {
    background-image: url('./assets/images/7.png');
}

.mark_image_4 {
    background-image: url('./assets/images/3.png');
}

#faq {
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.faq_title {
    background-color: #c90000;
    border-bottom-left-radius: 4rem;
    border-top-right-radius: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    color: #b9b9b9;
    font-weight: 700;
    font-size: 2rem;
}

.faq_caption {
    font-size: 0.8rem !important;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#faq .cell {
    background-color: rgb(62, 125, 219);
    border: 1px solix rgb(185, 2, 130) !important;
    color: white;
    margin-top: 3vw;
}

.faq_number {
    background-color: rgb(252 88 0);
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    width: 2.1rem;
    height: 2.1rem;
    display: inline-grid;
    align-items: center;
    position: absolute;
    left: 1rem;
    font-size: 1.1rem;
    border-radius: 50%;
}

#faq .cell .question {
    width: 90%;
    padding-left: 1vw;
}

#faq .cell .mark span {
    text-align: center;
}

#faq .cell .cell_header {
    display: flex;
    align-items: center;
}

.accordion {
    margin-top: 2.5vw;
}

.accordion-button {
    height: 4rem;
    background-color: #272727e8 !important;
    color: white !important;
    font-weight: 500;
    padding-left: 4rem !important;
    font-size: 1rem !important;
}

.accordion-item {
    margin-top: 0.5vw !important;
    border-radius: 0 !important;
    background-color: #000000 !important;
    border: 1px solix rgb(185, 2, 130) !important;
}

#subscribe {
    padding-top: 2vw;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#subscribe .sub_content h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

#subscribe .sub_content p {
    font-size: 0.8rem;
}

.form_content {
    align-items: center;
}

#subscribe .form_content .input-group {
    align-items: center !important;
}

#subscribe .form_content .input-group .email_icon {
    color: rgb(122, 122, 122);
    z-index: 9999;
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
}

#subscribe .form-control {
    padding-left: 3rem !important;
    border-radius: 2.5px !important;
}

#subscribe .form_content .subscribe_btn {
    background-image: linear-gradient(to right, rgb(176 145 110), rgb(30 29 33)) !important;
    border: none;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#social {
    background-color: #020726;
    padding-top: 3vw;
    padding-bottom: 3vw;
    color: white;
    border-bottom: 1px solid rgb(10, 30, 83);
}

#social p {
    font-size: 0.8rem;
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
}

#social h1 {
    font-size: 1.1rem;
    font-weight: 500;
}

#social .community {
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: left;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.community h1 {
    font-size: 1rem !important;
    font-weight: 600 !important;
}

.community .icon {
    font-size: 2rem !important;
    display: inline-flex;
}

.community .icon svg {
    margin-right: 1.5vw;
    font-size: 1.8rem;
}

#footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(180, 179, 179, 0.74);
}

#footer p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1vw;
    padding-bottom: 2vw;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0 !important;
    color: rgb(170, 168, 168);
}

#footer p a {
    text-decoration: none;
    padding: 0;
    color: rgb(170, 168, 168);
}

#term,
#privacy {
    background-color: rgb(0, 0, 0);
    color: rgb(170, 168, 168);
}

#term h1,
p {
    font-family: 'Roboto', sans-serif;
}

#term h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: #00c5d3;
    text-decoration: underline;
}

#term h1 a {
    color: #00c5d3 !important;
    font-weight: 700;
}

#term p {
    font-size: 1.3rem;
    display: flex;
}

#term p a,
#privacy p a {
    color: #6fe7f3 !important;
}

#term p .subitem {
    flex: 0 0 7%;
    text-align: right;
    padding-right: 1%;
    color: rgb(170, 168, 168);
}

#privacy h1,
p {
    font-family: 'Roboto', sans-serif;
}

#privacy h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #00c5d3;
    font-weight: 700;
}

#privacy h1 a {
    color: #00c5d3 !important;
    font-weight: 700;
}

#privacy p {
    font-size: 1.3rem;
    display: flex;
}

#privacy p .subitem {
    flex: 0 0 5%;
    text-align: right;
    padding-right: 1%;
}

#privacy p .subitem1 {
    flex: 0 0 8%;
    text-align: right;
    padding-right: 1%;
}

#backeffect {
    background-image: url('./assets/images/Utility.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1rem 1rem 2rem #131313;
    padding-top: 2%;
    border-radius: 1rem;
    padding-bottom: 2%;
}

#utility h1 {
    background-color: #c90000;
    border-bottom-left-radius: 4rem;
    border-top-right-radius: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center !important;
    color: #b9b9b9;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

#utility p {
    text-align: left;
    color: rgb(189 189 189);
    border-radius: 0.4rem;
    display: flex;
    align-items: baseline;
}

.No {
    color: red;
    font-weight: 500;
    font-size: 1.3rem !important;
    flex: 0 0 7%;
    text-align: right;
    padding-right: 1%;
}

#utility .caption {
    color: #ffffff;
    text-align: center;
    font-size: 0.98rem;
    margin-bottom: 1vw;
}

.go_mainpage a{
	font-size: 1rem;
	font-weight: 400;
	color: white;
}

@media(min-width: 1000px){
	.go_mainpage{
		float: right;
	}
}


@media(max-width: 1000px){
	.go_mainpage{
		display: block !important;
	}
}

@media (max-width: 576px) {
    #mint {
        padding-top: 35vw;
    }
    #navbar_top {
        padding-top: 5vw;
    }
    .nav_logo {
        flex: 1 0 33%;
        color: rgb(2, 141, 99) !important;
    }
    .nav_logo .nav-link {
        width: 40vw;
    }
    .navbar-toggler {
        margin-right: 5vw;
    }
    .home_nft {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .home_nft_describe_content p {
        width: 100%;
    }
    .home_nft_describe_content h1 {
        font-size: 2rem;
    }
    .mint_section {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5vw;
        padding: 1vw;
        border-radius: 0.5rem;
    }
    .mint_section .mint_section_body p {
        font-size: 1rem !important;
    }
    .mint_counter_btn,
    .mint_counter_btn1 {
        width: 2rem;
        height: 2rem;
    }
    .mint_counter_btn1 {
        width: 2rem !important;
        height: 2rem !important;
        font-size: 1rem !important;
    }
    .tokenId_field {
        width: 4rem !important;
        height: 2rem !important;
        font-size: 1rem !important;
    }
    .name_field {
        width: 15rem !important;
        height: 2rem !important;
        font-size: 1rem !important;
    }
    .counter_form {
        height: 3rem;
    }
    #account_info {
        word-break: break-all;
    }
    #key p {
        padding: 4.2vw;
    }
    #key p span {
        width: 100%;
    }
    #meet .member {
        height: 50vh;
        border-radius: 1.5rem;
    }
    #meet .member {
        width: 80% !important;
        height: 60vh;
    }
    #roadmap .roadmap_left,
    #roadmap .roadmap_right {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .roadmap_content-l,
    .roadmap_content-r {
        display: block;
    }
    .roadmap_content-l .roadmap_text {
        padding-left: 1.5rem;
    }
    .roadmap_content-r .roadmap_text {
        padding-left: 1.5rem;
    }
    .roadmap_mark {
        width: 80vw;
    }
    .mark_image_1,
    .mark_image_2,
    .mark_image_3,
    .mark_image_4 {
        width: 0 !important;
        height: 0 !important;
    }
    #key h1,
    #utility h1,
    #gallery h1,
    #meet h1 {
        font-size: 1.2rem;
    }
    #utility h1 {
        width: 80%;
        font-size: 1.2rem !important;
    }
    #roadmap .roadmap_title {
        font-size: 1.2rem;
    }
    #faq .faq_title {
        font-size: 1.2rem;
    }
    .nav_menubar a {
        width: 80%;
        padding: 0 !important;
        font-weight: 900;
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 2rem !important;
        color: white !important;
    }
    .nav_menubar_social svg {
        margin-left: 3vw;
        margin-right: 3vw;
        cursor: pointer;
        font-size: 2rem;
        color: white !important;
    }
    .nav_menubar_social {
        align-items: center;
        font-size: 1.3rem;
        margin-top: 2vw;
        padding: 2vw;
    }
    .home_nft_pic {
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
}

@media(min-width: 1400px) {
    .container {
        max-width: 80% !important;
    }
}

@media(min-width: 1920px) {
    #mint {
        padding-top: 8%;
    }
    #mint h1 {
        font-size: 2rem;
    }
    .nav-link {
        font-size: 1.2rem !important;
    }
    .freeticket {
        font-size: 2.3rem !important;
    }
    .mint_section .mint_section_body p {
        font-size: 1.6rem !important;
    }
    .mint_counter {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .counter_form {
        width: 40%
    }
    #key p {
        font-size: 1.5rem;
    }
    #utility .caption {
        font-size: 1.6rem;
    }
    #utility p {
        font-size: 1.5rem;
    }
    #key {
        padding-top: 0;
    }
    #gallery p {
        font-size: 1.5rem;
    }
    .roadmap_text h1 {
        font-size: 1.8rem !important;
    }
    .roadmap_text p {
        font-size: 1.5rem;
    }
    .accordion-button {
        font-size: 1.3rem !important;
    }
    .accordion-body {
        font-size: 1.5rem !important;
    }
    .community h1 {
        font-size: 1.5rem !important;
    }
    #footer p {
        font-size: 1.5rem !important;
    }
    #subscribe .form_content .row .input-group .form-control {
        font-size: 1.5rem;
    }
    #subscribe .form_content .subscribe_btn {
        font-size: 1.7rem;
    }
    .form-control {
        font-size: 1.7rem !important;
    }
    .nav_menubar_social .top_socialicon {
        font-size: 1.8rem;
    }
}

@media(max-width: 1400px) {
    .mint_section {
        width: 60%;
    }
}

@media(max-width: 768px) {
    .mint_section {
        width: 80%;
    }
}

@media(max-width: 900px) {
    .mint_section {
        width: 100%;
    }
}

@media(max-width: 1200px) {
    .roadmap_text h1 {
        font-size: 0.9rem !important;
    }
    .roadmap_text p {
        font-size: 0.8rem;
    }
}

@media(max-width: 1000px) {
    .roadmap_text h1 {
        font-size: 0.7rem !important;
    }
    .roadmap_text p {
        font-size: 0.5rem;
    }
    #roadmap .roadmap_right {
        width: 100%;
    }
    #roadmap .roadmap_left {
        width: 100%;
    }
    #key p {
        font-size: 1rem;
    }
    #utility h1 {
        font-size: 1.6rem;
    }
    .faq_title {
        font-size: 1.6rem;
    }
    .nav_menubar a {
        font-size: 2rem !important;
    }
    .nav-link {
        font-size: 2rem !important;
    }
}

@media(max-width: 576px) {
    .roadmap_text h1 {
        font-size: 1rem !important;
    }
    .roadmap_text p {
        font-size: 0.9rem !important;
    }
    #footer p {
        display: block;
    }
    #footer p span {
        width: 100%;
        display: block;
    }
}

.section_style {
    padding-top: 150px;
}